ol.nested-counter-list {
	counter-reset: item;
	padding-inline-start: 0;
}

ol.nested-counter-list > li > ol {
	counter-reset: item;
	margin-top: 1em;
	padding-inline-start: 0;
}

ol.nested-counter-list li {
	display: block;
}

ol.nested-counter-list > li::before {
	content: counters(item, ".") ". ";
	counter-increment: item;
	margin-right: 10px;
}

ol.nested-counter-list > li > ol > li::before {
	content: counters(item, ".") ". ";
	counter-increment: item;
	margin-right: 10px;
}

ol.nested-counter-list > li > ol > li {

	margin-bottom: 2.5rem;
}

ol.bullet-point li::before {
	content: "•";
	margin-right: 10px;
}

ol.lower-letter {
	counter-reset: letter;
}

ol.lower-letter li::before {
	content: counter(letter, lower-alpha) ")";
	counter-increment: letter;
	margin-right: 10px;
}
