/* Select2 styles for the admin
----------------------------------*/

.wp-admin {
	&.profile-php .tenup-content-types-select2,
	&.user-edit-php .tenup-content-types-select2 {
		max-width: 900px;
	}

	.tenup-content-types-select2 .tenup-content-types-select2-item-add {
		margin: 10px 0 0 15px;
	}

	.tenup-content-types-select2-item {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 20px;
	}

	//Fields container
	.fm-wrapper {
		margin-bottom: 20px;
		border-bottom: 1px solid #eee;
		padding-top: 0px;
	}

	// Item actions to the right
	.tenup-content-types-select2-item-actions {
		float: right;
	}

	// Reorder icon
	.tenup-content-types-select2-item-icon-reorder {
		float: left;
		background-image: url(../svg/symbol-defs.svg#icon-reorder);
		background-repeat: no-repeat;
		background-size: 20px;
		width: 20px;
		height: 20px;
		fill: #aaa;
		margin-right: 10px;

		//hide text
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		transition: fill 250ms;

		&:hover {
			cursor: move;
			fill: red;
		}
	}

	// Section title
	.fm-label {
		font-weight: bold;
		font-size: 18px;
	}

	// Select box
	.select2-container.fm-element {
		margin: 10px 0;
		max-width: 50%;
	}
}