/* Container for site max width and padding */

.container {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;

	@media (--bp-large) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (--bp-xlarge) {
		max-width: 1360px;

	}

}

.container--large {
	padding-left: 20px;
	padding-right: 20px;
}
