/* Select2 styles for the admin
----------------------------------*/

.wp-admin.profile-php .tenup-content-types-select2,
.wp-admin.user-edit-php .tenup-content-types-select2 {
  max-width: 900px; }

.wp-admin .tenup-content-types-select2 .tenup-content-types-select2-item-add {
  margin: 10px 0 0 15px; }

.wp-admin .tenup-content-types-select2-item {
  display: block;
  width: 100%;
  clear: both;
  margin-bottom: 20px; }

.wp-admin .fm-wrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-top: 0px; }

.wp-admin .tenup-content-types-select2-item-actions {
  float: right; }

.wp-admin .tenup-content-types-select2-item-icon-reorder {
  float: left;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' width='20px' height='20px' fill='%23aaa' color='transparent' xmlns='http://www.w3.org/2000/svg'%3E %3Ctitle%3Ereorder%3C/title%3E %3Cpath class='path1' d='M3 5.016h18v1.969h-18v-1.969zM3 11.016v-2.016h18v2.016h-18zM3 18.984v-1.969h18v1.969h-18zM3 15v-2.016h18v2.016h-18z'/%3E %3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  fill: #aaa;
  margin-right: 10px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  transition: fill 250ms; }
  .wp-admin .tenup-content-types-select2-item-icon-reorder:hover {
    cursor: move;
    fill: red; }

.wp-admin .fm-label {
  font-weight: bold;
  font-size: 18px; }

.wp-admin .select2-container.fm-element {
  margin: 10px 0;
  max-width: 50%; }