.cta-button {
	background: var(--c-secondary);
	background: var(--gradient-primary);
	border-radius: 500px;
	box-sizing: border-box;
	color: var(--c-primary);
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	padding: 0 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;

	&:hover,
	&:focus {
		background: var(--c-primary);
		color: var(--c-highlight);
	}

	@media (--bp-large) {

		font-size: 1.4rem;
		height: 50px;
		line-height: 50px;

	}

}
