.featured-influencer {
	position: relative;
}

.featured-influencer__bg {
	position: relative;
}

.featured-influencer--live .featured-influencer__bg {
	position: absolute;
	width: 100%;
}


.featured-influencer__bg-img {

	opacity: 0.7;
	width: 100%;

	@media (--bp-medium) {
		opacity: 0.4;
	}

}

.featured-influencer__bg::after {

	background: linear-gradient(0deg, rgba(29, 29, 39, 1) 1%, rgba(29, 29, 39, 0) 50%);
	bottom: 0;
	content: "";
	height: 300px;
	left: 0;
	position: absolute;
	width: 100%;

	@media (--bp-medium) {
		background: var(--gradient-overlay-bottom);
	}

}

.featured-influencer__overlay {

	margin-top: -150px;
	position: relative;
	z-index: 1;

	@media (--bp-medium) {
		height: 100%;
		left: 0;
		margin-top: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.featured-influencer--live .featured-influencer__overlay {

	margin-top: 0;
	padding-bottom: 50px;
	padding-top: 50px;
	z-index: 2;

	@media (--bp-small) {
		padding-bottom: 50px;
		padding-top: 150px;
	}

	@media (--bp-medium) {
		padding-bottom: 50px;
		padding-top: 150px;
		position: static;
	}

	@media (--bp-large) {
		padding-bottom: 250px;
	}
}


.featured-influencer__overlay .container {
	height: 100%;
	position: relative;
}

.featured-influencer__content {

	@media (--bp-medium) {
		left: 40px;
		position: absolute;
		top: 60%;
		transform: translateY(-50%);
		width: 80%;
	}


	@media (--bp-large) {
		top: 50%;
		width: 50%;
	}

	@media (--bp-xlarge) {

		top: 40%;

	}

}

.featured-influencer--live .featured-influencer__content {

	@media (--bp-medium) {
		position: static;
		transform: none;
	}

}

.featured-influencer__heading {
	color: var(--c-primary);
	font-weight: 900;
	margin-bottom: 30px;
	text-transform: uppercase;

}
