.footer-nav {

	margin: 0 0 30px 0;
	padding: 0;
	text-align: center;

	& .menu-item {
		display: block;
		font-size: 1.4rem;
		font-weight: 300;
		list-style: none;
		margin: 0;
		padding: 0;
		text-transform: uppercase;

		@media (--bp-medium) {
			display: inline-block;
			margin: 0 10px;
		}

	}

	& a {
		color: var(--c-subtle);
		display: block;
		padding: 5px;

		&:hover {
			color: var(--c-primary);
		}
	}

}
