.gdpr.gdpr-privacy-bar .gdpr-agreement {
	background: var(--c-secondary);
	border-color: var(--c-secondary);
	border-top-color: var(--c-secondary);
	box-shadow: none;
	text-shadow: none;
}

.gdpr-content a {
	color: var(--c-primary) !important;
	text-decoration: underline;
}

.gdpr :not(textarea):not(input):not(select) {
	color: var(--c-primary);
}

.gdpr-preferences,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-preferences {
	display: none !important;
}
