.influencer-carousel {
	display: block;
	margin-bottom: 60px;
	position: relative;
}

.influencer-carousel__wrap {
	overflow: hidden;
}

.influencer-carousel__items {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.influencer-carousel__item {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;

	&.swiper-slide {
		width: 100px;
	}
}
