.influencer-page-header {
	margin-bottom: 40px;
	position: relative;
}

.influencer-page-header__bg {
	position: relative;
}

.influencer-page-header__bg-img {
	opacity: 1;
	width: 100%;
}

.influencer-page-header__bg::after {
	background: var(--gradient-overlay-bottom);
	bottom: 0;
	content: "";
	height: 50px;
	left: 0;
	position: absolute;
	width: 100%;

	@media (--bp-medium) {
		height: 300px;
	}
}

.influencer-page-header__overlay {

	@media (--bp-medium) {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.influencer-page-header__overlay .container {
	height: 100%;
	position: relative;
}

.influencer-page-header__content {

	margin-top: -30px;

	@media (--bp-medium) {
		left: 50%;
		margin-top: 0;
		max-width: 860px;
		position: absolute;
		text-align: center;
		top: 60%;
		transform: translate(-50%, -50%);
	}
}

.influencer-page-header__biog {
	padding-bottom: 30px;

	@media (--bp-medium) {
		padding-bottom: 0;
	}
}

.influencer-page-header__category {
	background: var(--c-secondary);
	background: var(--gradient-primary);
	border-radius: 4px;
	color: var(--c-primary);
	display: inline-block;
	font-size: 1.2rem;
	margin-bottom: 10px;
	padding: 5px 15px;
	text-transform: uppercase;
}

.influencer-page-header__title {
	margin-bottom: 5px;

	@media (--bp-medium) {
		font-size: 5rem;
	}

	@media (--bp-xlarge) {
		font-size: 9rem;
	}
}

.influencer-page-header__details {
	display: flex;
	justify-content: center;

	@media (--bp-xlarge) {
		margin: 0 auto;
		width: 70%;
	}
}

.influencer-page-header__detail {
	box-sizing: border-box;
	font-size: 2rem;
	font-weight: 600;
	padding: 0 10px;
	text-align: center;
	width: 50%;

}

.influencer-page-header__detail-label {
	color: var(--c-subtle);
	display: block;
	font-size: 1.4rem;
	font-weight: 400;
}

.influencer-page-header__share {
	display: block;
	float: right;
	margin: 40px 0 0 10px;

	@media (--bp-medium) {
		bottom: 0;
		display: block;
		float: none;
		margin: 0;
		position: absolute;
		right: 40px;
	}
}

.influencer-page-header__share--mobile {
	display: block;
	float: right;
	margin: 20px 0 0 10px;

	@media (--bp-medium) {
		display: none;
	}
}

.influencer-page-header__down {
	bottom: 60px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);

	@media (--bp-medium) {
		bottom: 10px;
	}

	@media (--bp-large) {
		bottom: 30px;
	}
}
