.influencer-card {
	background: var(--gradient-primary);
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.influencer-card__link {
	display: block;
}

.influencer-card__image {
	display: block;
	height: auto;
	opacity: 1;
	transform-origin: center;
	transition: 0.5s;
	width: 100%;

}

.influencer-card__link:hover .influencer-card__image {
	opacity: 0.6;
	transform: scale(1.05, 1.05);
}

.influencer-card__info {
	background: var(--gradient-overlay-bottom-subtle);
	bottom: 0;
	box-sizing: border-box;
	left: 0;
	padding: 10px;
	position: absolute;
	width: 100%;
	z-index: 1;

	@media (--bp-medium) {
		padding: 20px;
	}
}

.influencer-card__name {
	font-size: 2rem;
	font-weight: 800;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
	word-wrap: break-word;

	@media (--bp-medium) {
		font-size: 2rem;
	}

	@media (--bp-xlarge) {
		font-size: 2rem;
	}

}
