
.influencer-next-carousel {
	display: block;
	margin-bottom: 60px;
	margin-top: 60px;
}

.influencer-next-carousel__wrap {

	position: relative;
}

.influencer-next-carousel .tns-ovh {
	overflow: hidden;
}

.influencer-next-carousel__items {
	display: flex;
	margin: 0;
	padding: 0;

	@media (--bp-medium) {
		margin: 0 -5px;
	}
}

.influencer-next-carousel__item {
	list-style: none;
	margin: 0;
	padding: 0;

	@media (--bp-medium) {
		box-sizing: border-box;
		padding: 5px;
		width: 25%;
	}

}

.influencer-next-carousel .tns-visually-hidden {

	@add-mixin screen-reader-text;

}
