.influencer-next {
	background: var(--gradient-primary);
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.influencer-next__link {
	border-radius: 5px;
	color: var(--c-primary);
	display: block;
	overflow: hidden;
}

.influencer-next__img {
	display: block;
	filter: grayscale(100%) contrast(150%);
	height: auto;
	object-fit: cover;
	opacity: 0.5;
	transform-origin: center;
	transition: 0.5s;
	width: 100%;

	@supports (mix-blend-mode: multiply) {
		mix-blend-mode: multiply;
		opacity: 1;
	}

}

.influencer-next__link:hover .influencer-next__img {
	opacity: 0.6;
	transform: scale(1.05, 1.05);
}

.influencer-next__info {
	bottom: 20px;
	left: 20px;
	position: absolute;
}

.influencer-next__title {
	font-size: 2.6rem;
	font-weight: 900;
	margin-bottom: 5px;
	text-transform: uppercase;

	@media (--bp-medium) {
		font-size: 2.2rem;
	}

	@media (--bp-large) {
		font-size: 2.6rem;
	}

}

.influencer-next__info p {
	font-size: 1.4rem;
	margin: 0;

	@media (--bp-medium) {
		font-size: 1.4rem;
	}

	@media (--bp-large) {
		font-size: 1.6rem;
	}

}

.influencer-next__icon {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 1;
}
