.influencer {
	margin-bottom: 25px;
}

.influencer--featured {
	margin-bottom: 0;
}

.influencer--featured.influencer--live {
	margin-bottom: 25px;
}

.influencer--layout {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	@media (--bp-xlarge) {
		flex-wrap: nowrap;
	}

}

.influencer__link {
	align-items: center;
	display: flex;
}

.influencer__profile-link {
	display: block;
	font-size: 1.5rem;
	margin-left: auto;
	padding-top: 2px;
}

.influencer--layout .influencer__profile-link {

	margin-left: 0;
	width: 130px;

	@media (--bp-small) {
		margin-left: 0;

	}

	@media (--bp-xlarge) {
		margin-left: auto;
	}

}

.influencer--layout .influencer__image-wrap {

	@media (--bp-medium) {
		width: 90px;
	}
}

.influencer__image {
	background: var(--gradient-primary);
	border-radius: 50%;
	height: 70px;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 6px;
	width: 70px;
}

.influencer-carousel .influencer__image {
	height: 85px;
	padding: 7px;
	width: 85px;
}

.influencer__image img {
	border-radius: 50%;
	display: block;
	transition: 0.5s;
}

.influencer__link:hover img {
	opacity: 0.6;
	transform: scale(1.05, 1.05);
}

.influencer__info {
	margin: 0 0 15px 15px;
}

.influencer__info--name-only {
	margin-bottom: 0;
}

.influencer--layout .influencer__info {
	width: calc(100% - 130px);
}

.influencer__title {
	color: var(--c-subtle);
	font-size: 1.4rem;
	font-weight: 300;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.influencer__name {
	color: var(--c-primary);
	font-size: 1.4rem;
	margin: 0;

	@media (--bp-large) {
		font-size: 1.8rem;
	}
}

.influencer-carousel {

	& .influencer__link {
		display: block;
	}

	& .influencer__info {
		margin-left: 0;
	}

	& .influencer__name {
		font-size: 1.4rem;
		font-weight: 300;
		text-align: center;
	}

}
