.influencer-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px 40px -5px;
	padding: 0;
}

.influencer-grid__item {
	box-sizing: border-box;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0 5px;
	width: 50%;

	@media (--bp-small) {
		width: 33.3%;
	}

	@media (--bp-medium) {
		width: 25%;
	}

	@media (--bp-large) {
		width: 20%;
	}

	@media (--bp-xlarge) {
		width: 16.6%;
	}

}
