.influencer-updates {
	border-bottom: 1px solid var(--c-block-bg);
	margin-bottom: 30px;
	padding-bottom: 30px;

	@media (--bp-medium) {
		display: flex;
	}

}

.influencer-updates__latest {

	box-sizing: border-box;
	margin-bottom: 20px;

	@media (--bp-medium) {
		padding-right: 20px;

		/* Widths added to best match heights between columns -
		will improve in future or when section finalised */
		width: 64.6%;
	}

}

.influencer-updates__next {

	@media (--bp-medium) {

		/* Widths added to best match heights between columns -
		will improve in future or when section finalised */
		width: 35.4%;
	}

}
