.influencer-next-grid {
	display: block;
}

.influencer-next-grid__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	@media (--bp-medium) {
		margin: 0 -5px;
	}
}

.influencer-next-grid__item {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;

	@media (--bp-medium) {
		box-sizing: border-box;
		margin: 0;
		padding: 5px;
		width: 33.3%;
	}

	@media (--bp-large) {
		width: 25%;
	}

}
