.notification {
	position: relative;
}

.notification__outer {
	box-sizing: border-box;
	font-size: 1.2rem;
	font-weight: 400;
	left: 0;
	margin-bottom: 10px;
	margin-left: auto;
	padding-left: 20px;
	position: absolute;
	text-align: left;
	top: 10px;
	width: 100%;
	z-index: 1;

	@media (--bp-small) {
		top: 10px;
	}

	@media (--bp-medium) {
		top: 90px;
	}

	@media (--bp-large) {
		font-size: 1.4rem;
		margin-bottom: 0;
		padding-left: 40px;
		text-align: left;
		top: 70px;
	}

}

.notification__tag {
	animation: notification-flash 1.5s linear infinite;
	background: var(--c-secondary);
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	padding: 5px 10px 5px 10px;
	position: relative;
	text-transform: uppercase;
}

@keyframes notification-flash {

	50% {
		background: var(--c-highlight);
	}

}
