.primary-nav-toggle {
	display: block;
	height: 30px;
	left: 18px;
	position: absolute;
	top: 10px;
	transition: none;
	width: 30px;
	z-index: 9;

	@media (--bp-large) {

		display: none;

	}

}

.primary-nav-toggle__icon {
	background: #8f2ec5;
	display: block;
	height: 3px;
	left: 2px;
	position: absolute;
	top: 9px;
	transition: 0.5s;
	width: 24px;
}

.primary-nav-toggle__icon::before {
	background: var(--c-secondary);
	content: "";
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	top: -9px;
	transition: 0.5s;
	width: 24px;
}

.primary-nav-toggle__icon::after {
	background: var(--c-highlight);
	content: "";
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	top: 9px;
	transition: 0.5s;
	width: 12px;
}

.primary-nav-toggle[aria-expanded="true"] {

	position: fixed;
	top: 20px;
}

.admin-bar .primary-nav-toggle[aria-expanded="true"] {
	top: 66px;

	@media (--bp-large) {
		top: 52px;
	}
}

.primary-nav-toggle[aria-expanded="true"] > .primary-nav-toggle__icon {
	background: var(--c-primary);
	transform: rotate(45deg);
}

.primary-nav-toggle[aria-expanded="true"] > .primary-nav-toggle__icon::before {
	background: var(--c-primary);
	top: 0;
	transform: rotate(90deg);
}

.primary-nav-toggle[aria-expanded="true"] > .primary-nav-toggle__icon::after {
	opacity: 0;
}
