@import "@10up/component-navigation";

:root {
	--border-radius: 4px;
}

.primary-menu > .menu-item {
	display: block;
	text-transform: uppercase;

	@media (--bp-large) {
		display: inline-block;
		font-size: 1.4rem;
		margin-right: 0;
	}
}

.primary-menu .menu-item a {
	color: var(--c-primary);
	display: inline-block;

	@media (--bp-large) {
		padding: 0 10px 5px 8px;
	}

	&:hover {
		color: var(--c-pink);
	}

}

.primary-menu .menu-item.is-open {

	@media (--bp-large) {
		background: var(--c-block-bg);
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
	}

}

.menu-item-has-children > a::after {
	display: none;
}

.sub-menu {

	display: none;

	@media (--bp-large) {
		background: var(--c-block-bg);
		border-bottom-left-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		min-width: 150px;
		padding: 5px 0;
	}

}

.sub-menu > .menu-item {
	font-size: 1em;
}

.sub-menu > .menu-item a {
	display: block;
}

@media (--bp-large-max) {

	.primary-menu {
		background: var(--c-highlight);
		background: var(--gradient-primary);
		box-sizing: border-box;
		display: none;
		height: 100%;
		left: 0;
		overflow: auto;
		padding: 60px 30px 30px 30px;
		position: fixed;
		top: 0;
		width: 85%;
		z-index: 8;
	}

	.admin-bar .primary-menu {
		height: calc(100% - 46px);
		top: 46px;

		@media (--bp-large) {
			height: calc(100% - 32px);
			top: 32px;
		}
	}

	.primary-menu::before {
		content: "Menu";
		font-size: 1.8em;
		font-weight: 700;
		left: 50%;
		position: absolute;
		text-transform: uppercase;
		top: 20px;
		transform: translateX(-50%);
	}

	.primary-menu[aria-hidden="true"] {
		display: block;
		transform: translateX(-110%);
		transition: 0.5s;
	}

	.primary-menu[aria-hidden="false"] {
		transform: translateX(0);
		transition: 0.5s;
	}

	.primary-menu > .menu-item {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		font-size: 1.6rem;
		padding: 10px 20px 10px 0;
		position: relative;
	}

	.primary-menu > .menu-item a {
		display: block;
	}

	.sub-menu {
		padding: 15px 30px 15px 0;
		position: static;
	}

	.sub-menu > .menu-item {
		font-weight: 300;
		padding: 15px 0;
		position: relative;
		text-transform: none;
	}

	.sub-menu > .menu-item a {
		padding-left: 30px;
	}

	.sub-menu > .menu-item:last-child {
		padding-bottom: 0;
	}

}
