.search-form {
	background: var(--c-overlay-bg);
	box-sizing: border-box;
	display: none;
	height: 100%;
	left: 0;
	min-width: 200px;
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	@media (--bp-medium) {
		position: fixed;
	}
}

.search-page-form .search-form {
	background: none;
	box-sizing: border-box;
	display: block;
	height: auto;
	left: auto;
	padding: 0;
	position: relative;
	top: auto;
	width: 100%;
	z-index: 1;
}

.search-form[aria-hidden="true"] {
	display: none;
}

.search-form[aria-hidden="false"] {
	display: block;
}

.search-form__wrap {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;

	@media (--bp-medium) {
		min-width: 500px;
		width: auto;
	}
}

.search-page-form .search-form__wrap {
	left: auto;
	margin: 0 auto 40px auto;
	max-width: 860px;
	position: relative;
	top: auto;
	transform: none;
	width: 100%;

}

.search-form__toggle {

	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 11;

	@media (--bp-medium) {
		top: 13px;
	}
}

.search-form__icon-open,
.search-form__icon-close {

	@media (--bp-medium-max) {
		height: 22px;
		width: 22px;
	}

}

.search-form__toggle[aria-expanded="true"] .search-form__icon-open {
	display: none;
}

.search-form__toggle[aria-expanded="false"] .search-form__icon-open {
	display: block;
}

.search-form__toggle[aria-expanded="true"] .search-form__icon-close {
	display: block;
}

.search-form__toggle[aria-expanded="false"] .search-form__icon-close {
	display: none;

}

.search-form__icon {

	&:hover {

		& .search-form__svg {
			fill: var(--c-white);
		}

	}

}

.search-form label {

	@add-mixin screen-reader-text;

}

.search-form input[type="search"] {
	background: var(--c-form-bg);
	border-color: var(--c-form-bg);
	border-radius: 500px;
	color: var(--c-subtle);
	font-size: 1.6rem;
	padding-right: 50px;
	width: 100%;
}

.search-form__submit {
	background: var(--c-secondary);
	background: var(--gradient-primary);
	border: none;
	border-radius: 500px;
	box-sizing: border-box;
	color: var(--c-primary);
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	top: 0;
	white-space: nowrap;
	width: 40px;

	@media (--bp-large) {
		font-size: 1.4rem;
	}
}

.search-form__submit-icon {
	height: 20px;
	margin-top: 10px;
	width: 20px;
}

.search-form__submit-label {

	@add-mixin screen-reader-text;

}

.search-form input[type="submit"] {
	display: none;

	@media (--bp-medium) {
		display: inline-block;
		margin-left: 20px;
	}

}
