.share-button {
	background: var(--c-secondary);
	background: var(--gradient-primary);
	border-radius: 50%;
	box-sizing: border-box;
	color: var(--c-primary);
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	padding-top: 6px;
	position: relative;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	width: 40px;

	&:hover,
	&:focus {
		background: var(--c-primary);
	}

	@media (--bp-medium) {
		height: 63px;
		line-height: 63px;
		width: 63px;
	}

}

.share-button .share-button__icon path {
	fill: var(--c-primary);
}

.share-button:hover .share-button__icon path,
.share-button:focus .share-button__icon path {
	fill: var(--c-highlight);
}
