.site-footer {
	background: var(--c-black);
	padding: 40px 0;
	width: 100%;
}

.site-footer__logo {
	margin: 0 auto 30px auto;
	width: 75px;

	@media (--bp-medium) {
		width: 90px;
	}

}

.site-footer__logo-image {
	display: block;
}

.site-footer__social {
	text-align: center;
}
