/* Main site header */

.site-header {
	background: linear-gradient(0deg, rgba(29, 29, 39, 0) 1%, rgba(29, 29, 39, 1) 100%);
	left: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	position: fixed;
	top: 0;
	transition: 0.5s;
	width: 100%;
	z-index: 3;

	@media (--bp-large) {
		padding-bottom: 10px;
		padding-top: 10px;
	}

	& .container {
		position: relative;

		@media (--bp-large) {
			align-items: center;
			display: flex;
			position: relative;
		}

	}

}

/* Adjust position if logged into WP */
.admin-bar .site-header {
	top: 46px;
	transition: 0.5s;

	@media (--bp-large) {
		top: 32px;
	}
}

.site-header.is-fixed {
	background: linear-gradient(0deg, rgba(29, 29, 39, 0.8) 1%, rgba(29, 29, 39, 1) 100%);
}

.admin-bar .site-header.is-fixed {
	top: 0;
}

.site-header__logo {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 34px;

	@media (--bp-large) {
		margin-left: 0;
		margin-right: 15px;
		text-align: left;
		width: 40px;
	}
}

.site-header__tagline {
	font-size: 1.4rem;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@media (--bp-large) {
		margin-bottom: 3px;
		margin-left: 0;
		margin-right: auto;
		text-align: left;
	}

}

.site-header__nav {
	margin-bottom: 3px;
	margin-left: auto;
}

.site-header__social {
	display: none;

	@media (--bp-large) {

		display: block;
		margin-bottom: 2px !important;
		margin-left: 5px !important;
		margin-top: 0 !important;

	}
}

.site-header__search {

	@media (--bp-large) {
		margin: 0 0 0 20px;
	}
}
