.site-main {
	padding-top: 80px;

	@media (--bp-large) {
		padding-top: 65px;
	}
}

.site-main--landing {
	padding-bottom: 60px;
	padding-top: 120px;
}

.site-main--pull-up {

	@media (--bp-medium) {
		padding-top: 0;
	}

}
