.social-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-menu .menu-item {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0;
}

.social-menu .menu-item > a {
	display: block;
	height: 20px;
	overflow: hidden;
	text-indent: -2000px;
	width: 20px;

	&:hover {
		opacity: 0.7;
	}

}

.social-menu.social-menu--subtle .menu-item > a {
	height: 35px;
	opacity: 0.4;
	width: 35px;

	&:hover {
		opacity: 0.7;
	}

}

.social-menu .menu-item > a[href*="facebook"] {
	background: url("../images/bg-facebook.svg") no-repeat;
	background-size: contain;
}

.social-menu .menu-item > a[href*="instagram"] {
	background: url("../images/bg-instagram.svg") no-repeat;
	background-size: contain;
}
