.social-sharing {
	background: rgba(0, 0, 0, 0.9);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.social-sharing[aria-hidden="true"] {
	display: none;
}

.social-sharing[aria-hidden="false"] {
	display: block;
}

.social-sharing__content {
	background: #1d1d27;
	border-radius: 20px;
	left: 50%;
	min-width: 300px;
	padding: 40px 40px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.social-sharing__close {
	display: block;
	position: absolute;
	right: 40px;
	top: 46px;
}

.social-sharing__title {
	margin-bottom: 40px;
}

.social-sharing__menu {
	display: flex;
	margin: 0;
	padding: 0;
}

.social-sharing__item {
	box-sizing: border-box;
	font-weight: 300;
	list-style: none;
	margin: 0;
	padding: 0 10px;
	width: 33.3%;
}

.social-sharing__link {
	color: var(--c-primary);
	display: block;
	font-size: 1.4rem;
	transition: 0.5s;

	&:hover {
		opacity: 0.7;
	}
}

.social-sharing__icon {
	display: block;
	margin: 0 auto 10px auto;
}

.social-sharing .at-share-btn {
	margin: 0 10px !important;
}
