.submenu-toggle {
	display: inline-block;
	height: 15px;
	margin-left: 0;
	position: relative;
	width: 15px;

	@media (--bp-large-max) {

		position: absolute;
		right: 0;
		top: 10px;

	}
}

.submenu-toggle > svg {
	display: block;
	fill: var(--c-primary);
	height: auto;
	margin-top: 10px;
	pointer-events: none;
	width: 100%;

	@media (--bp-large) {
		margin-top: 11px;
	}
}

.submenu-toggle[aria-expanded="false"] > .submenu-toggle--chevron-down {
	display: block;
}

.submenu-toggle[aria-expanded="true"] > .submenu-toggle--chevron-down {
	display: none;
}

.submenu-toggle[aria-expanded="false"] > .submenu-toggle--chevron-up {
	display: none;
}

.submenu-toggle[aria-expanded="true"] > .submenu-toggle--chevron-up {
	display: block;
}
