.tns-visually-hidden {

	@add-mixin screen-reader-text;

}

.tns-controls button[data-controls="prev"] {
	background: url("../images/angle-left.svg") no-repeat center;
	background-size: 50%;
	border: 0;
	height: 100%;
	left: -30px;
	opacity: 0.4;
	position: absolute;
	top: 0;
	width: 40px;

	& span {

		@add-mixin screen-reader-text;

	}

	&:disabled {
		display: none;
	}
}

.tns-controls button[data-controls="next"] {
	background: url("../images/angle-right.svg") no-repeat center;
	background-size: 50%;
	border: 0;
	height: 100%;
	opacity: 0.4;
	position: absolute;
	right: -30px;
	top: 0;
	width: 40px;

	& span {

		@add-mixin screen-reader-text;

	}

	&:disabled {
		display: none;
	}
}
