.upcoming-influencer {
	background: var(--gradient-primary);
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.upcoming-influencer__link {
	display: block;
}

.upcoming-influencer__image {
	display: block;
	height: auto;
	opacity: 1;
	transform-origin: center;
	transition: 0.5s;
	width: 100%;

}

.upcoming-influencer__info {
	box-sizing: border-box;
	left: 50%;
	padding: 30px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 1;
}

.upcoming-influencer__title {
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 1;
	margin-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
}

.upcoming-influencer__time {
	color: var(--c-primary);
	display: block;
	font-size: 2.2rem;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
}

.upcoming-influencer__time-label {
	color: var(--c-primary);
	display: flex;
	flex-wrap: nowrap;
	font-size: 1.2rem;
	text-align: center;
}

.upcoming-influencer__time-label span {
	box-sizing: border-box;
	display: block;
	width: 33.3%;
}

.upcoming-influencer__time-label-days {
	padding-left: 20px;
}

.upcoming-influencer__time-label-mins {
	padding-right: 20px;
}
