.video-carousel {
	margin: 40px auto 60px auto;
	position: relative;
	z-index: 2;
}

.video-carousel--pull-up {

	@media (--bp-large) {

		margin-top: -100px;

	}

	@media (--bp-xlarge) {

		margin-top: -150px;

	}

}

.video-carousel__wrap.swiper-container {
	margin: 20px auto;
	width: 100%;
}

.video-carousel__item.swiper-slide {
	width: 310px;
}
