.video-category {
	background: var(--gradient-primary);
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.video-category__link {
	border-radius: 5px;
	display: block;
	overflow: hidden;
}

.video-category__image {
	display: block;
	filter: grayscale(100%) contrast(130%);
	height: auto;
	object-fit: cover;
	opacity: 0.5;
	transform-origin: center;
	transition: 0.5s;
	width: 100%;

	@supports (mix-blend-mode: multiply) {
		mix-blend-mode: multiply;
		opacity: 1;
	}

}

.video-category__link:hover .video-category__image {
	opacity: 0.6;
	transform: scale(1.05, 1.05);
}

.video-category__title {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
