.video-featured {
	background: var(--gradient-primary);
	border-radius: 20px;
	margin: 0 0 40px 0;
	overflow: hidden;
	position: relative;

	@media (--bp-large) {
		display: flex;
	}

}

.video-featured__info {

	padding: 40px;
	text-align: center;

	@media (--bp-large) {
		width: 50%;
	}

	@media (--bp-large-max) {
		position: relative;
		z-index: 1;
	}

}

.video-featured--live .video-featured__info {
	display: none;

	@media (--bp-large) {
		display: block;
	}
}

.video-featured__cover {
	position: relative;

	@media (--bp-large) {
		width: 50%;
	}

	@media (--bp-large-max) {
		display: none;

	}

}

.video-featured__tag {
	left: 20px;
	position: absolute;
	top: 20px;
	z-index: 1;
}

.is-video-playing .video-featured__tag {
	position: fixed;
	z-index: 9999;
}

.video-featured--live .video-featured__cover {

	@media (--bp-large-max) {
		display: block;
	}

}

.video-featured__cover-image {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.video-featured__info-icon {

	margin-top: 40px;

	@media (--bp-large) {
		display: none;
	}
}

.video-featured__cover-icon {
	display: none;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);

	@media (--bp-large) {
		display: block;
	}
}

.video-featured__influencer {
	margin-bottom: 20px;
}

.video-featured__influencer-image {
	border: 1px solid var(--c-primary);
	border-radius: 50%;
	height: 85px;
	margin-bottom: 10px;
	padding: 5px;
	width: 85px;
}

.video-featured__influencer-name {
	font-size: 1.6rem;
	font-weight: 400;

	@media (--bp-large) {
		font-size: 1.8rem;
	}
}

.video-featured__title {
	font-size: 2.6rem;
	font-weight: 300;
	text-align: center;

	@media (--bp-large) {
		font-size: 3.1rem;
	}

}

.video-featured__info-link {
	color: var(--c-primary);
	display: block;
	font-size: 1.4rem;
	margin: 0 auto;

	@media (--bp-large) {
		text-decoration: underline;
	}
}
