.video-grid {

	margin: 0;
	padding: 0;

	@media (--bp-small) {
		display: flex;
		flex-wrap: wrap;
	}

}

.video-grid__item {
	box-sizing: border-box;
	list-style: none;
	margin: 0 0 40px 0;

	@media (--bp-small) {
		margin: 0 0 70px 0;
		padding: 0 10px;
		width: 50%;
	}

	@media (--bp-large) {
		width: 33.3%;
	}

	@media (--bp-xlarge) {
		width: 25%;
	}

}
