.video-categories {
	margin-bottom: 60px;
}

.video-categories__wrap {
	overflow: hidden;
}

.video-categories__items,
.video-categories__grid-items {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	@media (--bp-small) {
		flex-wrap: wrap;
	}
}

.video-categories__grid-items {
	flex-wrap: wrap;
}

.video-categories .tns-visually-hidden {

	@add-mixin screen-reader-text;

}

.video-categories__item {
	box-sizing: border-box;
	margin: 0;

	@media (--bp-small) {
		padding: 5px;
		width: 50%;
	}

	@media (--bp-medium) {
		width: 20%;
	}
}

.video-categories__grid .video-categories__item {
	padding: 5px;
	width: 50%;

	@media (--bp-small) {
		padding: 5px;
		width: 50%;
	}

	@media (--bp-medium) {
		width: 33.3%;
	}

	@media (--bp-large) {
		width: 20%;
	}

}

@media (--bp-medium) {

	.video-categories__item--large {
		width: 33.2%;
	}

}
