.video-category-page-header {
	margin-bottom: 40px;
	position: relative;
}

.video-category-page-header__bg {
	background: var(--gradient-primary);
	position: relative;
}

.video-category-page-header__bg-img {
	filter: grayscale(100%) contrast(150%);
	height: auto;
	mix-blend-mode: multiply;
	opacity: 1;
	width: 100%;
}

.video-category-page-header__bg::after {
	background: var(--gradient-overlay-bottom);
	bottom: 0;
	content: "";
	height: 50px;
	left: 0;
	position: absolute;
	width: 100%;

	@media (--bp-medium) {
		height: 300px;
	}
}

.video-category-page-header__overlay {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.video-category-page-header__overlay .container {
	height: 100%;
	position: relative;
}

.video-category-page-header__content {
	left: 50%;
	margin-top: 0;
	max-width: 860px;
	position: absolute;
	text-align: center;
	top: 60%;
	transform: translate(-50%, -50%);
}

.video-category-page-header__content p {
	display: none;

	@media (--bp-medium) {
		display: block;
	}
}

.video-category-page-header__title {
	margin-bottom: 5px;

	@media (--bp-medium) {
		font-size: 5rem;
	}

	@media (--bp-xlarge) {
		font-size: 9rem;
	}

}

.video-category-page-header__down {
	bottom: 60px;
	display: none;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);

	@media (--bp-medium) {
		bottom: 30px;
		display: block;
	}

}
