.video-live-state {
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.video-live-state__image {
	display: block;
	height: auto;
	width: 100%;
}

.video-live-state__overlay {
	left: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.video-live-state__title {
	font-size: 10vw;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0.8rem;

	@media (--bp-medium) {
		font-size: 7rem;
	}

	@media (--bp-large) {
		font-size: 6rem;
	}

	@media (--bp-xlarge) {
		font-size: 7rem;
	}

}

.video-live-state__text {
	font-size: 3.7vw;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 0;
	margin-top: 0;

	@media (--bp-medium) {
		font-size: 1.8rem;
	}

	@media (--bp-large) {
		font-size: 1.8rem;
	}
}
