.video-page {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0) 20%);
}

.video-page.video-page--live {
	background: none;
}

.video-page .container {

	@media (--bp-medium-max) {
		padding: 0;
	}

	@media (--bp-medium) {
		display: flex;
	}

}

.video-page.video-page--live .container {

	@media (--bp-medium) {
		display: block;
	}

}

.video-page__player {

	margin-bottom: 20px;
	position: relative;

	@media (--bp-medium) {
		margin-bottom: 0;
		width: 66.6%;
	}

}

.video-page__details {

	display: flex;
	flex-direction: column;
	padding: 20px;

	@media (--bp-medium) {
		box-sizing: border-box;
		padding: 40px 0 0 40px;
		width: 33.3%;
	}

}

.video-page__influencer {

	order: 2;

	@media (--bp-medium) {
		border-bottom: 1px solid var(--c-block-bg);
		margin-bottom: 30px;
		order: 1;
	}
}

.video-page__about {
	border-bottom: 1px solid var(--c-block-bg);
	margin-bottom: 30px;
	order: 1;

	@media (--bp-medium) {
		border-bottom: none;
		margin-bottom: 0;
		order: 2;
	}
}

.video-page__title {
	font-weight: 400;
}

.video-page__about p {
	color: var(--c-subtle);
	font-size: 1.5rem;
}

.video-page__date {
	color: var(--c-subtle);
	display: inline-block;
	font-size: 1.4rem;
	margin-right: 20px;
}

.video-page__views {
	color: var(--c-subtle);
	display: inline-block;
	font-size: 1.4rem;
	margin-right: 20px;
}

.video-page__views-icon {
	margin-right: 5px;
	opacity: 0.6;
}

.video-page__share {
	display: inline-block;
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.video-page__share-link {
	color: var(--c-subtle);
	line-height: 1;
	vertical-align: middle;
}

.video-page__share-icon {
	display: inline-block;
	fill: var(--c-subtle);
	margin-right: 5px;
	vertical-align: middle;
}
