.video-player > div {
	max-width: 100% !important;
}

.video-player .attachment-video_thumb {
	height: auto;
	width: 100%;
}

.bc-iframe,
.bc-iframe body,
.bc-player-XhzeJjksK_default,
.bc-player-default_default {
	background: url("../images/video_bg.jpg") no-repeat;
	background-size: cover;
}

.bc-player-default_default .vjs-poster,
.bc-player-XhzeJjksK_default .vjs-poster {
	background-color: transparent;
}

.bc-player-fqxkItrCh_default .vjs-big-play-button {
	background: var(--c-secondary);
	background: var(--gradient-primary);
}

.bc-player-fqxkItrCh_default.vjs-play-button-shape-square .vjs-big-play-button {
	border-radius: 50%;
}

.bc-player-fqxkItrCh_default .vjs-control-bar {
	background: rgba(0, 0, 0, 0.8);
}

.bc-player-fqxkItrCh_default .vjs-play-progress {
	background: var(--c-secondary);
}

.video-js .vjs-load-progress {
	background: var(--c-highlight);
}

.video-js .vjs-slider {
	background: var(--c-subtle);
}

.bc-player-fqxkItrCh_default .vjs-volume-level {
	background: var(--c-secondary);
}

.video-js .vjs-dock-text {
	display: none;
}

.is-video-playing .video-js {

	@media (--bp-medium-max) {
		height: 100%;
		left: 0;
		position: fixed !important;
		top: 0;
		width: 100%;
		z-index: 9999;
	}
}

.video-js .vjs-fullscreen-control {

	@media (--bp-medium-max) {
		display: none;
	}

}

.video-js .vjs-picture-in-picture-control {

	@media (--bp-medium-max) {
		display: none;
	}

}


.is-video-playing .video-js .vjs-tech {

	@media (--bp-medium-max) {
		object-fit: cover;
	}
}

.page-template-page-launch .vjs-progress-control {
	pointer-events: none;
}
