.video-tag {
	background: var(--c-secondary);
	border-radius: 4px;
	display: block;
	padding: 5px 10px 5px 25px;
	position: relative;
	text-transform: uppercase;
}

.video-tag--large {
	color: var(--c-primary);
	font-size: 1.8rem;
}

.video-tag--flash {
	animation: video-tag-flash 1.5s linear infinite;
}

.video-tag--alt {
	background: var(--c-highlight);
}

@keyframes video-tag-flash {

	50% {
		background: var(--c-highlight);
	}

}

.video-tag::before {
	background: var(--c-primary);
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 8px;
	margin-right: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}
