.video-card {
	display: block;
}

.video-card.video-card--featured {
	height: 100%;
}

.video-card__wrap {
	position: relative;
}

.video-card--featured .video-card__wrap {
	height: 100%;
}

.video-card__cover {
	background: url("../images/video_bg.jpg") no-repeat;
	background-size: cover;
	border-radius: 2px;
	height: 0;
	margin-bottom: 10px;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;

}

.video-card__cover-contents {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.video-card--featured .video-card__cover {
	margin-bottom: 0;
}

.video-card__cover::after {
	background: var(--gradient-overlay-bottom-subtle);
	bottom: 0;
	content: "";
	height: 40px;
	left: 0;
	position: absolute;
	width: 100%;
}

.video-card__tag {
	color: var(--c-primary);
	left: 10px;
	position: absolute;
	top: 10px;
}

.video-card__image {
	display: block;
	height: 100%;
	margin: 0 auto;
	object-fit: contain;
	transform-origin: center;
	transition: 0.5s;
	width: auto;
}

.video-card__play {
	height: 70px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 70px;
}

.video-card__play svg {
	height: 100%;
	width: 100%;
}

.video-card--featured .video-card__image {
	height: 100%;
}

.video-card__link {
	display: block;
}

.video-card--featured .video-card__link {
	height: 100%;
}

.video-card__link:hover .video-card__image {
	opacity: 0.5;
	transform: scale(1.05, 1.05);
}

.featured-influencer--live .video-card__link:hover .video-card__image {
	opacity: 1;
}

.is-loading .video-card__link,
.is-playing .video-card__link {
	opacity: 0;
}

.video-card__duration {
	bottom: 20px;
	color: var(--c-primary);
	font-size: 1.6rem;
	position: absolute;
	right: 20px;
	z-index: 2;
}

.video-card__details {
	align-items: center;
	display: flex;
}

.video-card__details-link {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 10px;
}

.video-card__author-image {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.video-card__inline-video {
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: 0.3s;
	width: 100%;
}

.video-card__close-full-screen {
	display: none;
}

.is-video-playing .video-card__close-full-screen {
	display: block;
	height: 30px;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 30px;
	z-index: 9999;

	@media (--bp-medium) {
		display: none;
	}

}

.is-playing .video-card__inline-video {
	display: block;
	opacity: 1;
}

.video-card__loading {
	background: url("../images/loader.svg");
	background-size: cover;
	height: 50px;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.2s;
	visibility: hidden;
	width: 50px;
}

.is-loading .video-card__loading {
	display: block;
	opacity: 1;
	visibility: visible;
}

.video-card .video-js {
	height: 100%;
	width: 100%;
}

.video-card__inline-video .vjs-big-play-button {
	display: none;
}

.video-card__title {
	color: var(--c-primary);
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 0;
	transition: 0.5s;
}

.video-card__link:hover .video-card__title {
	color: var(--c-secondary);
}

.video-card__title-link {
	color: var(--c-primary);

	&:hover {
		color: var(--c-secondary);
	}

}

.video-card__meta {
	align-items: center;
	color: var(--c-subtle);
	display: flex;
	font-size: 1.2rem;
}

.video-card__author-name {
	color: var(--c-subtle);
	font-size: 1.2rem;
	margin: 0 0 0 60px;
}

.video-card__author-link {
	color: var(--c-subtle);

	&:hover {
		color: var(--c-primary);
	}
}

.video-card__views {
	margin: 0 20px;
}

.video-card__views-icon {
	margin-right: 5px;
	opacity: 0.6;
}
