.video-tags {
	margin: 0 0 20px 0;
	padding: 0;
}

.video-tags__item {
	display: inline-block;
	font-size: 1.2rem;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0;
	text-transform: uppercase;
}

.video-tags__link {
	background: var(--c-secondary);
	background: var(--gradient-primary);
	border-radius: 500px;
	color: var(--c-primary);
	display: block;
	padding: 5px 15px;
}
