/*
 * Colors
 */
:root {
	--c-black: #000;
	--c-white: #fff;
	--c-grey: #1d1d27;
	--c-light-grey: #a0a0a0;
	--c-pink: #d41acc;
	--c-purple: #3d18d1;
	--c-dark-purple: #36364b;

	--c-base: var(--c-grey);
	--c-primary: var(--c-white);
	--c-secondary: var(--c-pink);
	--c-highlight: var(--c-purple);
	--c-subtle: var(--c-light-grey);
	--c-block-bg: #34343d;
	--c-overlay-bg: rgba(0, 0, 0, 0.9);

	--c-border: var(--c-dark-purple);
	--c-border-light: rgba(255, 255, 255, 0.4);
	--c-form-bg: #34343d;

	--gradient-primary: linear-gradient(45deg, var(--c-secondary) 0%, var(--c-highlight) 100%);
	--gradient-primary-a: linear-gradient(45deg, rgba(212, 26, 204, 0.9) 0%, rgba(61, 24, 209, 0.9) 100%);
	--gradient-overlay-bottom: linear-gradient(0deg, rgba(29, 29, 39, 1) 1%, rgba(29, 29, 39, 0) 100%);
	--gradient-overlay-bottom-subtle: linear-gradient(0deg, rgba(29, 29, 39, 0.8) 1%, rgba(29, 29, 39, 0) 100%);
}
