input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	background: var(--c-white);
	border: none;
	border-bottom: 2px solid var(--c-border);
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: var(--c-base);
	font-size: 2.5rem;
	height: 40px;
	padding: 6px 20px;
	width: 100%;
}


textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	min-height: 65px;
	padding-bottom: 6px;
	padding-top: 6px;

	&:focus {

		outline: 0;

	}

}

input[type="submit"] {
	background: var(--c-secondary);
	background: var(--gradient-primary);
	border: none;
	border-radius: 500px;
	box-sizing: border-box;
	color: var(--c-primary);
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	padding: 0 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;

	@media (--bp-large) {
		font-size: 1.4rem;
	}

	&:hover,
	&:focus {
		background: var(--c-primary);
		color: var(--c-highlight);
	}
}


fieldset {
	border-width: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

.checkbox {

	& label {
		display: inline-block;
		margin-left: 10px;
	}

}

::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--c-subtle);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--c-subtle);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--c-subtle);
	opacity: 1; /* Firefox */
}
