/* Global type styles */

html {
	font-size: 62.5%;
}

body {
	color: var(--c-primary);
	font-family: Barlow, sans-serif;
	font-weight: 400;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--c-primary);
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	margin-top: 0;
}

h1 {
	font-size: 4rem;
	font-weight: 800;
	line-height: 1.1;
	margin-bottom: 2.5rem;
	text-transform: uppercase;

	@media (--bp-medium) {
		font-size: 3rem;
	}

	@media (--bp-large) {
		font-size: 4rem;
	}

	@media (--bp-xlarge) {
		font-size: 5rem;
	}
}

h2 {
	font-size: 2.5rem;
}

h2 a {
	color: var(--c-primary);
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.9rem;
}

p,
li,
.p {
	font-size: 1.8rem;
}

figcaption {
	font-size: 1.4rem;
}

a {
	color: var(--c-secondary);
	text-decoration: none;
	transition: 0.5s;

	&:hover {
		color: var(--c-primary);
	}
}
