<div class="tenup-content-types-select2-item">
	<# if ( data.show_reorder ) { #>
		<span class="tenup-content-types-select2-item-icon tenup-content-types-select2-item-icon-reorder" title="Reorder">
			Reorder
		</span>
	<# } #>

	<# if ( data.show_thumbnail ) { #>
		<span class="tenup-content-types-select2-item-thumbnail-wrapper">
			<img src="{{ data.thumbnail_url }}" width="50" height="50" alt="Thumbnail"
				class="tenup-content-types-select2-item-thumbnail<# if ( '' == data.thumbnail_url ) { #> hidden<# } #>" />

			<# if ( data.is_custom ) { #>
				<a href="#remove-thumbnail" class="button tenup-content-types-select2-item-remove-thumbnail<# if ( '' == data.thumbnail_url ) { #> hidden<# } #>">Remove Thumbnail</a>
				<a href="#add-thumbnail" class="button tenup-content-types-select2-item-add-thumbnail<# if ( '' != data.thumbnail_url ) { #> hidden<# } #>">Add Thumbnail</a>

				<input type="hidden" name="{{ data.input_name }}[{{ data.row }}][thumbnail_id]" value="{{ data.thumbnail_id }}" class="tenup-content-types-select2-item-thumbnail-id" />
			<# } #>
		</span>
	<# } #>

	<span class="tenup-content-types-select2-item-title">
		<# if ( data.is_custom ) { #>
			<label for="{{ data.input_name }}-{{ data.row }}-custom-title">
				<span>Title</span>
				<input type="text" name="{{ data.input_name }}[{{ data.row }}][custom_title]" value="{{ data.custom_title }}" class="tenup-content-types-select2-item-custom-title" id="{{ data.input_name }}-{{ data.row }}-custom-title" />
			</label>

			<label for="{{ data.input_name }}-{{ data.row }}-custom-link">
				<span>Link</span>
				<input type="text" name="{{ data.input_name }}[{{ data.row }}][custom_link]" value="{{ data.custom_link }}" class="tenup-content-types-select2-item-custom-link" id="{{ data.input_name }}-{{ data.row }}-custom-link" />
			</label>
		<# } else { #>
			{{ data.label }}
		<# } #>
	</span>

	<span class="tenup-content-types-select2-item-actions">
		<# if ( '' !== data.edit_url ) { #>
			<a href="{{ data.edit_url }}" class="button tenup-content-types-select2-item-edit" target="_blank">
				Edit
			</a>
		<# } #>

		<# if ( '' !== data.view_url ) { #>
			<a href="{{ data.view_url }}" class="button tenup-content-types-select2-item-view" target="_blank">
				View
			</a>
		<# } #>

		<a href="#remove" class="button tenup-content-types-select2-item-remove">
			Remove
		</a>
	</span>

	<input type="hidden" name="{{ data.input_name }}[{{ data.row }}][id]" value="{{ data.id }}" class="tenup-content-types-select2-item-id" />
</div>