<div class="tenup-content-types-select2-item">
	<# if ( data.show_reorder ) { #>
		<span class="tenup-content-types-select2-item-icon tenup-content-types-select2-item-icon-reorder" title="Reorder">
			Reorder
		</span>
	<# } #>

	<# if ( data.show_thumbnail ) { #>
		<span class="tenup-content-types-select2-item-thumbnail-wrapper">
			<img src="{{ data.thumbnail_url }}" width="50" height="50" alt="Thumbnail"
				class="tenup-content-types-select2-item-thumbnail<# if ( '' == data.thumbnail_url ) { #> hidden<# } #>" />
		</span>
	<# } #>

	<# if ( data.has_video ) { #>
		<span class="tenup-content-types-select2-item-icon tenup-content-types-select2-item-icon-video" title="Video">
			Video
		</span>
	<# } #>

	<span class="tenup-content-types-select2-item-title">
		{{ data.label }}
	</span>

	<span class="tenup-content-types-select2-item-actions">
		<# if ( '' !== data.edit_url ) { #>
			<a href="{{ data.edit_url }}" class="button tenup-content-types-select2-item-edit" target="_blank">
				Edit
			</a>
		<# } #>

		<# if ( '' !== data.view_url ) { #>
			<a href="{{ data.view_url }}" class="button tenup-content-types-select2-item-view" target="_blank">
				View
			</a>
		<# } #>

		<a href="#remove" class="button tenup-content-types-select2-item-remove">
			Remove
		</a>
	</span>

	<input type="hidden" name="{{ data.input_name }}[]" value="{{ data.id }}" class="tenup-content-types-select2-item-id" />
</div>