.role-influencer {

	form {

		h2:nth-of-type(1) {
			display: none;
		}

		table:nth-of-type(1) {
			display: none;
		}

		h2:nth-of-type(5) {
			display: none;
		}

		table:nth-of-type(7) {
			display: none;
		}

		.gallery-category {

			li {
				display: block;
			}
		}
	}

	.fm-label {
		margin-bottom: 5px;
	}

	&.wp-admin .fm-label {
		font-size: 14px;
		font-weight: 600;
	}

	#your-profile h3 {
		display: none;
	}

	.media-wrapper {
		border-left: none;
		margin-left: 0;
		padding-left: 0;
	}

	.media-wrapper img {
		margin-top: 10px;

	}

}
